$color-nsMirage1: #1d2335;
$color-nsMirage2: #181d2d;
$color-nsWhite1: #ffff;
$color-nsWhite2: #ffffff;
$color-nsWedgeWood1: #457b9d;
$color-nsGreen1: #23c552;
$color-nsShuttleGray1: #5b5f6a;
$color-nsBlack1: #212121;
$color-nsRed1: #c74c4c;
$color-nsClay1: #283048;
$color-nsBlue1: #2d82e7;
$color-nsLightningYellow1: #fec817;
$color-nsSin1: #ffba2e;
$color-nsGallery1: #eeeeee80;
$color-nsDairyCream1: #fcdec6;
$color-nsCloudBurst1: #263156;
$color-nsConcrete1: #f2f2f2;
$color-nsDoveGray1: #707070;
$color-nsChateauGreen1: #4bae4f;
$color-nsSwissCoffee1: #dfdbd8;
$color-nsVistaWhite1: #fbf7f4;
$color-nsEbb1: #ebe8e7;
$color-nsGray1: #8c8c8c;
$color-nsGray2: #868686;
$color-nsGray3: #818181;
$color-nsGray4: #939393;
$color-nsSilver1: #cccccc;
$color-nsFunGreen1: #027645;
$color-nsCinnabar1: #ec4236;
$color-nsAlto1: #d8d8d8;
$color-nsTurbo1: #ffe600;
$color-nsSunglow1: #ffb930;
$color-nsLightningYellowOpacity10: #fec8171a;
$color-nsSilverChalice1: #B0B0B0;
$color-nsRoman1: #D85B5B;
$color-nsShamrock1:#32D583;
$color-nsFlamingo1:#F04438;
$color-nsCitrineWhite1: #FBF3DE;
$color-nsSilverChalice2: #ACACAC;
$color-nsSilver2: #BABABA;
$color-nsGallery2:#F0F0F0;
$color-nsAlabaster1:#FCFCFC;
$color-nsSelago1:#f2f6fe;
$color-nsBunting1:#121243;
$color-nsPigeonPost1:#B1B7D9;
$color-nsBigStone1:#141A3A;
$color-nsMineShaft1:#232323;
$color-nsTonysPink:#E89898
